footer {
    color: #5c494f;
    background-color: #f9dbd1;
    /* margin-top: 10%; */
    /* position:absolute; */
    /* bottom:0; */
    /* width:100%; */
    height:60px; 
    padding-top: 20px;
    /* padding-bottom: 20px; */
}
