.move-down {
    margin-top: 320px;
    margin-bottom: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.card {
    margin: 0 auto !important;
    float: none !important;
    margin-bottom: 10px !important;
    background-color: #fbb7a0 !important;
    width: 70% !important;
    padding: 3%;
}

.card-title {
    background-color: #f9dbd1 !important;
    padding: 2%;
}

.app-name{
    font-family: 'Mochiy Pop One', sans-serif;
}