.move-detail-card {
    margin-top: 280px;
    margin-bottom: 20%;
}

.add-rating-form {
    width: 20%;
    margin: auto;
}

.my-order-btn {
    text-align: center;
}

.add-order-form {
    width: 30%;
    margin: auto;
}

.add-order-form {
    width: 30%;
    margin: auto;
}

.my-comment-form {
    width: 50%;
    margin: auto;
}

.order-div {
    text-align: center;
}